<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
    /* CSS 스타일링은 여기에 작성합니다. */
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
    }

    .modal-content {
        display:flex;
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 400px;
        text-align: center;
    }

    .checkPassword {
        width: 45%;
    }

    .closeModal {
        width: 45%;
    }

    .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5%;
    margin-right: 0%;
    }
</style>

<!-- 모달 창 -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <h2>비밀번호 입력</h2>
        <input type="password" id="password" placeholder="Password">
        <div class="button-container">
            <button class="checkPassword" onclick="checkPassword()">확인</button>
            <button class="closeModal" onclick="closeModal()">닫기</button>
        </div>
    </div>
</div>

<div id="comModal" class="modal">
    <div class="modal-content">
        <h2>비밀번호 입력</h2>
        <input type="password" id="compassword" placeholder="Password">
        <div class="button-container">
            <button class="checkPassword" onclick="comcheckPassword()">확인</button>
            <button class="closeModal" onclick="comclosemodal()">닫기</button>
        </div>
    </div>
</div>

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">
    <th:block th:fragment="content">
        <div class="form-group">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>게시물 번호 : [[${dto.gno}]]</th>
                    <th>작성자 : [[${dto.writer}]]</th>
                    <th>작성 시간 : [[${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm')}]]</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td colspan="1" style="width=10%;">제목</td>
                    <td colspan="2">[[${dto.title}]]</td>
                </tr>
                <tr>
                    <td colspan="1" style="width=10%;">내용</td>
                    <td colspan="2">[[${dto.content}]]</td>
                </tr>

                </tbody>
            </table>

            <form id="commentForm" th:action="@{/nado/comment}" th:method="post">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td colspan="3">작성자 : <input type="text" id="comWriter" name="comWriter" placeholder="작성자"
                                                     style="margin-right : 2.5em"> 비밀번호 :
                            <input type="password" id="comPWD" name="comPWD" placeholder="비밀번호">
                            <br><br>
                            <textarea id="comContents" name="comContents" placeholder="댓글을 입력해주세요."
                                      style="width: 90%; margin-right: 1.5%;"></textarea>
                            <input type="hidden" name="gno" th:value="${dto.gno}"/>
                            <input type="hidden" name="title" th:value="${dto.title}"/>
                            <button type="button" class="btn btn-primary" onclick="javascript:Coment()">작성 완료</button>
                        </td>
                    </tr>

                    <tr th:each="comment : ${comdto}">
                        <td colspan="1" style="width:10%;">[[${comment.comWriter}]]</td>
                        <td colspan="2" id="comment">[[${comment.comContents}]]</td>
                        <td colspan="1">
                            <a th:href="@{/nado/read(gno=${dto.gno}, page=${requestDTO.page}, type=${requestDTO.type}, keyword=${requestDTO.keyword})}"
                               th:onclick="comopenmodal(); return false;">
                                <button type="button" class="btn btn-primary modifyBtn">삭 제</button>
                            </a>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </form>
        </div>

        <a th:href="@{/nado/modify(gno=${dto.gno}, page=${requestDTO.page}, type=${requestDTO.type}, keyword=${requestDTO.keyword})}"
           th:onclick="openModal(); return false;">
            <button type="button" class="btn btn-primary modifyBtn">수 정</button>
        </a>

        <a th:href="@{/nado/list(page=${requestDTO.page}, type=${requestDTO.type}, keyword =${requestDTO.keyword})}">
            <button type="button" class="btn btn-info">목 록</button>
        </a>

        <input type="hidden" id="gno" th:value="${dto.gno}"/>
    </th:block>
</th:block>
<script th:inline="javascript">
    function Coment() {
    var writer = document.getElementById('comWriter').value.trim();
    var password = document.getElementById('comPWD').value.trim();
    var contents = document.getElementById('comContents').value.trim();

    if (!writer || !password || !contents) {
        alert("빈칸없이 작성을 부탁드립니다.");
        return false;
    }else {
        document.getElementById('commentForm').submit();
        return true;
    }
    return true;
}
    var modifyUrl = /*[[ @{/nado/modify(gno=${dto.gno}, page=${requestDTO.page}, type=${requestDTO.type}, keyword=${requestDTO.keyword})} ]]*/ '';
</script>

<script>
    // 모달 창 열기
    function openModal() {
        document.getElementById('myModal').style.display = 'block';
    }

    // 모달 창 닫기
    function closeModal() {
        document.getElementById('myModal').style.display = 'none';
    }

    // 비밀번호 확인
    function checkPassword() {
        var password = document.getElementById('password').value;       //컨트롤러로 보낼값
        var gno = document.getElementById('gno').value;                 //컨트롤러로 보낼값
        // 비밀번호를 컨트롤러로 전송하는 Ajax 요청
        $.ajax({
            url: '/nado/checkPassword',                                 //컨트롤러 맵핑 주소
            type: 'POST',                                               //데이터 방식
            contentType: 'application/json',                            //안건들여도되는거
            data: JSON.stringify({ password: password, gno: gno}),      //컴트롤러로 보낼값을 맵방식으로 전달
            success: function(response) {                               //컨트롤러에의 return 값
                if (response === 'success') {                           //return 값전달받은거로 컨트롤러 이후작업
                    // 비밀번호 일치
                    alert("비밀번호가 확인되었습니다.");
                    closeModal(); // 모달 창 닫기
                    // 비밀번호가 일치하는 경우 수정 페이지로 이동
                    window.location.href = modifyUrl;
                } else {
                    // 비밀번호 불일치
                    alert("비밀번호가 일치하지 않습니다.");
                }
            },
            error: function(xhr, status, error) {
                // 에러 처리
                console.error(error);
            }
        });
    }
//----------------------------------------------------------------------------------------------------------------------

    // 모달 창 열기
    function comopenmodal() {
        document.getElementById('comModal').style.display = 'block';
    }

    // 모달 창 닫기
    function comclosemodal() {
        document.getElementById('comModal').style.display = 'none';
    }

    // 비밀번호 확인
    function comcheckPassword() {
        var compassword = document.getElementById('compassword').value;                                                 //컨트롤러로 보낼값
        var gno = document.getElementById('gno').value;                                                                 //컨트롤러로 보낼값
        var comment = document.getElementById('comment').innerText;                                                     // 댓글 내용

        // 비밀번호를 컨트롤러로 전송하는 Ajax 요청
        $.ajax({
            url: '/nado/comcheckPassword',                                                                              //컨트롤러 맵핑 주소
            type: 'POST',                                                                                               //데이터 방식
            contentType: 'application/json',                                                                            //안건들여도되는거
            data: JSON.stringify({ compassword: compassword, gno: gno, comment: comment}),                              //컴트롤러로 보낼값을 맵방식으로 전달
            success: function(response) {                                                                               //컨트롤러에의 return 값
                if (response === 'success') {                                                                           //return 값전달받은거로 컨트롤러 이후작업
                    // 비밀번호 일치
                    alert("비밀번호가 확인되었습니다.");
                    closeModal(); // 모달 창 닫기
                    // 비밀번호가 일치하는 경우 수정 페이지로 이동
                    window.location.href = modifyUrl;
                } else {
                    // 비밀번호 불일치
                    alert("비밀번호가 일치하지 않습니다.");
                }
            },
            error: function(xhr, status, error) {
                // 에러 처리
                console.error(error);
            }
        });
    }
</script>

</html>