<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>

</style>

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">
    <th:block th:fragment="content">
        <h1 class="mt-4">Nado Read Page</h1>

        <div class="form-group">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>게시물 번호 : [[${dto.gno}]]</th>
                    <th>작성자 : [[${dto.writer}]]</th>
                    <th>작성 시간 : [[${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}]]</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td colspan="1" style="width=10%;">제목</td>
                    <td colspan="2">[[${dto.title}]]</td>
                </tr>
                <tr>
                    <td colspan="1" style="width=10%;">내용</td>
                    <td colspan="2">[[${dto.content}]]</td>
                </tr>

                <tr>
                    댓글 리스트 띄울 곳.
                    작성자
                    댓글 내용 / 삭제버튼
                </tr>
                </tbody>
            </table>

            <form id="commentForm" th:action="@{/nado/read}" th:method="post">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td colspan="1">작성자 : <input type="text" id="comWriter" name="comWriter" placeholder="작성자"
                                                     style="margin-right : 2.5em"> 비밀번호 : <input type="password" id="comPWD"
                                                                                                 name="comPWD"
                                                                                                 placeholder="비밀번호">
                            <br><br>
                            <textarea id="comContents" name="comContents" placeholder="댓글을 입력해주세요."
                                      style="width: 90%; margin-right: 1.5%;"></textarea>
                            <input type="hidden" name="gno" th:value="${dto.gno}" />
                            <input type="hidden" name="title" th:value="${dto.title}" />
                            <button type="button" class="btn btn-primary"  onclick="javascript:Coment()">작성 완료</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>

        <a th:href="@{/nado/modify(gno=${dto.gno}, page=${requestDTO.page}, type=${requestDTO.type}, keyword =${requestDTO.keyword})}">
            <button type="button" class="btn btn-primary">수 정</button>
        </a>

        <a th:href="@{/nado/list(page=${requestDTO.page}, type=${requestDTO.type}, keyword =${requestDTO.keyword})}">
            <button type="button" class="btn btn-info">목 록</button>
        </a>
    </th:block>
</th:block>
<script th:inline="javascript">
    function Coment() {
    var writer = document.getElementById('comWriter').value.trim();
    var password = document.getElementById('comPWD').value.trim();
    var contents = document.getElementById('comContents').value.trim();

    if (!writer || !password || !contents) {
        alert("빈칸없이 작성을 부탁드립니다.");
        return false;
    }else {
        document.getElementById('commentForm').submit();
        return true;
    }
    return true;
}
</script>
</html>