<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>

</style>

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">
    <th:block th:fragment="content">
        <h1 class="mt-4">GuestBook Read Page</h1>

        <div class="form-group">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>게시물 번호 : [[${dto.gno}]]</th>
                    <th>작성자 : [[${dto.writer}]]</th>
                    <th>작성 시간 : [[${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}]]</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td colspan="1" style="width=10%;">제목</td>
                    <td colspan="2">[[${dto.title}]]</td>
                </tr>
                <tr>
                    <td colspan="1" style="width=10%;">내용</td>
                    <td colspan="2">[[${dto.content}]]</td>
                </tr>

                <tr>
                    <td colspan="3"><input type="text" id="Coment" name="Coment" placeholder="댓글을 입력해주세요." style="width: 90%; margin-right: 1.5%;">
                        <button type="button" style="width: 5%;" onclick="javascript:Coment()">작성 완료</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <a th:href="@{/nado/modify(gno=${dto.gno}, page=${requestDTO.page}, type=${requestDTO.type}, keyword =${requestDTO.keyword})}">
            <button type="button" class="btn btn-primary">수 정</button>
        </a>

        <a th:href="@{/nado/list(page=${requestDTO.page}, type=${requestDTO.type}, keyword =${requestDTO.keyword})}">
            <button type="button" class="btn btn-info">목 록</button>
        </a>
    </th:block>
</th:block>
</html>