<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 대사관 정보 표시 -->
<h2 th:text="${title}"></h2>
<h3 th:text="${SecurityEnvironment}"></h3>
<h3>지역별 위험표시 지도 다운로드 URL: <a th:href="${SptravelWarningMap}" th:text="다운로드"></a></h3>

<div th:each="embassyInfo : ${embassyList}">
    <p>대사관 이름: <span th:text="${embassyInfo.embassyName}"></span></p>
    <p>대사관 주소: <span th:text="${embassyInfo.embassyAddress}"></span></p>
    <p>대사관 전화번호: <span th:text="${embassyInfo.embassyPhoneNumber}"></span></p>
    <p>대사관 긴급 전화번호: <span th:text="${embassyInfo.embassyUrgencyNumber}"></span></p>
    <p th:if="${embassyInfo.embassyFreeNumber != null and !embassyInfo.embassyFreeNumber.equals('null')}">대사관 무료 전화번호: <span th:text="${embassyInfo.embassyFreeNumber}"></span></p>
    <p>대사관 위도: <span th:text="${embassyInfo.embassyLat}"></span></p>
    <p>대사관 경도: <span th:text="${embassyInfo.embassyLng}"></span></p>
    <br>
    <br>
    <br>
</div>
</body>
</html>