<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 대사관 정보 표시 -->
<h2 id="countryName" th:text="${title}"></h2>
<h3 id="SecurityEnvironmentDTO" th:text="${SecurityEnvironmentDTO}"></h3>
<h3>지역별 위험표시 지도 다운로드 URL: <a th:href="${SptravelWarningMap}" th:text="다운로드"></a></h3>

<div id="embassyListContainer" th:each="embassyInfoDTO, iterStat : ${embassyList}">
    <!-- 대사관 정보 표시 부분 -->
    <p id="embassyName" th:text="${embassyInfoDTO.embassyName}"></p>
    <p id="embassyAddress" th:text="${embassyInfoDTO.embassyAddress}"></p>
    <p id="embassyPhoneNumber" th:text="${embassyInfoDTO.embassyPhoneNumber}"></p>
    <p id="embassyUrgencyNumber" th:text="${embassyInfoDTO.embassyUrgencyNumber}"></p>
    <p th:if="${embassyInfoDTO.embassyFreeNumber != null and !embassyInfoDTO.embassyFreeNumber.equals('null')}" id="embassyFreeNumber" th:text="${embassyInfoDTO.embassyFreeNumber}"></p>
    <p id="embassyLat" th:text="${embassyInfoDTO.embassyLat}"></p>
    <p id="embassyLng" th:text="${embassyInfoDTO.embassyLng}"></p>
    <br>
    <br>
</div>
</body>
</html>