<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">
    <th:block th:fragment="content">
        <h1>Information Page</h1>
        <form action="/travel/infor" method="post" id="searchForm">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label for="searchQuery" style="width:4.5em; font-weight:bold; font-size:20px;">Search:</label>
                </div>
                <input type="text" class="form-control" id="searchQuery" name="searchInfor" th:value="${countryName}">
                <div class="input-group-append" id="button-addon4">
                    <button class="btn btn-outline-secondary btn-search" style="width:15em" type="submit">Search
                    </button>
                </div>
            </div>
        </form>

        <table class="table table-striped">
            <thead>
            <tr class="table-secondary">
                <th scope="col"></th>
                <th scope="col">국가 / 나라명</th>
                <th scope="col">기본 정보</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-light">
                <td></td>
                <td><a href="javascript:loadDoc2()">[[${countryName}]]</a></td>
                <td><a href="javascript:loadDoc()">기본정보</a></td>
            </tr>
            </tbody>
        </table>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr class="table-light" th:unless="${result == '조회할수없는 나라입니다.'}">
                    <td></td>
                    <td id="countryInformation"></td>
                </tr>

                <tr class="table-light" th:if="${result == '조회할수없는 나라입니다.'}">
                    <td></td>
                    <td th:value="조회할수없는 나라입니다."></td>
                </tr>
                </tbody>
            </table>
    </th:block>
</th:block>

<script>
    function loadDoc(){
        // HTML에서 데이터 속성을 사용하여 값을 가져오기
        const countryName = document.getElementById("searchQuery").value;

        const xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function(){
            if(this.readyState == 4 && this.status == 200){
            document.getElementById("countryInformation").innerHTML = this.responseText;
            }
        };
        // 동적으로 얻은 국가 이름 사용
        xhttp.open("GET", "/travel/infor/api?searchInfor=" + encodeURIComponent(countryName));
        xhttp.send();
    }

    function loadDoc2(){
        // HTML에서 데이터 속성을 사용하여 값을 가져오기
        const countryName = document.getElementById("searchQuery").value;

        const xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function(){
            if(this.readyState == 4 && this.status == 200){
            document.getElementById("countryInformation").innerHTML = this.responseText;
            }
        };
        // 동적으로 얻은 국가 이름 사용
        xhttp.open("GET", "/nado/infor/api?searchInfor=" + encodeURIComponent(countryName));
        xhttp.send();
    }
</script>
</html>