<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">
    <th:block th:fragment="content">
        <h1>Information Page</h1>
        <form action="/travel/infor" method="post" id="searchForm">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label for="searchQuery" style="width:4.5em; font-weight:bold; font-size:20px;">Search:</label>
                </div>
                <input type="text" class="form-control" id="searchQuery" name="searchInfor" placeholder="나라명을 적어주세요.">
                <div class="input-group-append" id="button-addon4">
                    <button class="btn btn-outline-secondary btn-search" style="width:15em" type="submit">Search</button>
                </div>
            </div>
        </form>
    </th:block>
</th:block>
</html>