<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

    <th:block th:fragment="content">
        <h2>Dangerous Countries</h2>
        <ul th:if="${dangerList != null and not #lists.isEmpty(dangerList)}">
            <li th:each="dangerItem : ${dangerList}" th:text="${dangerItem}"></li>
        </ul>
        <div th:if="${dangerList == null or #lists.isEmpty(dangerList)}">
            <p>Error fetching dangerous countries: ${error}</p>
        </div>
    </th:block>
</th:block>
</html>
